package {{ package }}.config;

import org.springframework.context.annotation.Configuration;

/**
 * Application Configuration - Beans, properties, etc.
 */
@Configuration
public class AppConfig {

    // Define additional beans here
}
